-- CreateTable
CREATE TABLE "app_user" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "role" TEXT NOT NULL,
    "passwordHash" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "app_user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_location" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "app_location_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_product_meta" (
    "id" TEXT NOT NULL,
    "productCode" TEXT NOT NULL,
    "imageUrl" TEXT,
    "qtyPerBoxOverride" INTEGER,
    "observations" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "app_product_meta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_physical_count" (
    "id" TEXT NOT NULL,
    "productCode" TEXT NOT NULL,
    "location_id" TEXT NOT NULL,
    "countedBoxes" DECIMAL(12,2) NOT NULL,
    "countedByUserId" TEXT,
    "countedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,

    CONSTRAINT "app_physical_count_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_audit_log" (
    "id" TEXT NOT NULL,
    "actorUserId" TEXT,
    "action" TEXT NOT NULL,
    "entity" TEXT NOT NULL,
    "entityId" TEXT NOT NULL,
    "diff" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "app_audit_log_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "app_user_email_key" ON "app_user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "app_location_code_key" ON "app_location"("code");

-- CreateIndex
CREATE INDEX "app_product_meta_productCode_idx" ON "app_product_meta"("productCode");

-- CreateIndex
CREATE INDEX "app_physical_count_productCode_idx" ON "app_physical_count"("productCode");

-- CreateIndex
CREATE INDEX "app_physical_count_location_id_idx" ON "app_physical_count"("location_id");

-- CreateIndex
CREATE INDEX "app_physical_count_countedByUserId_idx" ON "app_physical_count"("countedByUserId");

-- CreateIndex
CREATE INDEX "app_audit_log_actorUserId_idx" ON "app_audit_log"("actorUserId");

-- AddForeignKey
ALTER TABLE "app_physical_count" ADD CONSTRAINT "app_physical_count_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "app_location"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_physical_count" ADD CONSTRAINT "app_physical_count_countedByUserId_fkey" FOREIGN KEY ("countedByUserId") REFERENCES "app_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_audit_log" ADD CONSTRAINT "app_audit_log_actorUserId_fkey" FOREIGN KEY ("actorUserId") REFERENCES "app_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

